
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/user"><i class="glyphicon glyphicon-apple"></i>  BePaidByYourFriends.com</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-form navbar-right">
                <a href="#/logout"><button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-remove"></i>  Log out</button></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-th-list"></i>  Menu <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/user/add_group"><i class="glyphicon glyphicon-plus"></i>  Add group</a></li>
                        <li><a href="#/user/add_appart"><i class="glyphicon glyphicon-tent"></i>  Add a flat</a></li>
                        <li><a href="#/user/settings"><i class="glyphicon glyphicon-cog"></i>  Settings</a></li>
                    </ul>
                </li>
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>