
<div ng-include="'views/inc/user_menu.html'"></div>
<div ng-class="'assets/css/style.css'"></div>

<div class="container col-md-12" ng-controller="UserAddAppartCtrl">
    <div id="form_appart">
        <form ng-submit="add_appart()" novalidate>
         <div class="container col-md-6">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <h3>Apartment </h3>
                </div>
                <div class="panel-body">
                    <span class="red" ng-bind="alert"></span></br>
                    <strong>Apartment owner email : </strong> <span ng-bind="{{ current_user }}"></span></br></br>
                    <label> Apartment name <span class="red" >*</span> : </label>
                    <input type="text" ng-model="user_appartement" class="form-control"
                    placeholder="Enter a appartment name" required autofocus></br>
                    <button class="btn btn-success " type="submit"><i class="glyphicon glyphicon-plus"></i>  Add appartment</button>
                </div>
            </div>
            <span class="red">* required</span>
        </div>
        <div class="container col-md-6">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <h3>Group friends (optional)</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <label >Friends names</label>
                        <div class="form-group" ng-repeat="i in group_person_count">
                            <input type="text" ng-model="group_person_names[i]" class="form-control"
                            placeholder="Friend {{i + 1}} name">
                        </div>
                        <a href ng-click="add_person()"><button class="btn btn-info" ><i class="glyphicon glyphicon-plus"></i>  Add another friend</button> </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
