
<div ng-include="'views/inc/user_menu.html'"></div>

<div class="container col-md-8" ng-controller="UserAddGroupCtrl">
    <span class="red" ng-bind="alert"></span>
    <form ng-submit="add_group()" novalidate>
        <h3>Group</h3>
        <label class="sr-only">Name</label>
        <input type="text" ng-model="group_name" class="form-control"
               placeholder="Group name" required autofocus>
        owner: <span ng-bind="user.email"></span>

        <h3>Friends</h3>
        <div class="form-group" ng-repeat="i in group_person_count">
            <label class="sr-only">Friend name {{$i + 1}}</label>
            <input type="text" ng-model="group_person_names[i]" class="form-control"
                   placeholder="Friend name {{i + 1}}">
        </div>

        <a href ng-click="add_person()"> + Add another person </a>
        <button class="btn btn-lg btn-success btn-block" type="submit">Add</button>
    </form>
</div>
